body               { font-family: sans-serif; background: #eee; }
h1                 { color: #6F1C00; }
a, h2              { color: #377BA8; }
h1, h2             { font-family: 'Georgia', serif; margin: 0; }
h1                 { border-bottom: 2px solid #eee; }
h2                 { font-size: 1.2em; }

.title             { color: #6F1C00; }
.page              { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                     padding: 0.8em; background: white; }
.metanav           { text-align: right; font-size: 0.8em; padding: 0.3em;
                     margin-bottom: 1em; background: #fafafa; }
.flash             { background: #CEE5F5; padding: 0.5em;
                     border: 1px solid #AACBE2; }
.error             { background: #F0D6D6; padding: 0.5em; }
.errorimg          { text-align: center; }

.recipe_time       { color: #6F1C00; font-family: 'Georgia', serif; }

/* Button CSS adapted from DreamHost */
.button {
	color: #6F1C00;
	background: transparent;
	border: solid 1px #6F1C00;
	border-radius: 3px;
	display: inline-block;
	font-size: 1rem;
	line-height: 1rem;
	padding: 0.5rem 1rem 0.375rem;
	margin: 0;
	margin-top: 1px;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	text-shadow: none;
	vertical-align: baseline;
	outline: none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button-dark {
	border-color: #071c26;
	color: #071c26;
}
.button-primary {
	background: #6F1C00;
	color: #ffffff;
	border: solid 1px #6F1C00;
}

.button:hover, .button:active, .button.is-open {
	color: #8a3e24;
	text-decoration: none;
	border-color: #8a3e24;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.button-primary:hover, .button-primary:active, .button-primary.is-open {
	color: #ffffff;
	background: #8a3e24;
	border-color: #6F1C00;
}
