.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.content-container {
  display: flex;
}


.content-container > div {
  margin: 5px;
  padding: 5px;
}

.search-pane {
  border-right-style: solid;
  border-right-width: thin;
  border-right-color: gray;
  min-width: 40%;
}

@media (max-width: 400px) {
  .content-container {
    display: block;
  }
  .search-pane {
    border-right: none;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-bottom-color: gray;
  }
}
