.hidden {
	display: none;
}

/* Labels */
.tag-list {
  list-style: none;
	padding: 0;
	margin: 0;
  display: inline-flex;
}

.tag-list-container {
	display: flex;
	align-items: baseline;
}

.tag-list-title {
  font-weight: bold;
}

.tag-list > li {
  background-color: thistle;
  width: fit-content;
	padding-inline: 0.3rem;
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  margin: 5px;
}

.link-tag-trigger {
	color: darkseagreen;
	font-weight: bold;
	cursor: pointer;
}

.link-tag-form > [name=label] {
	display: inline;
	padding: unset;
	padding-inline: 0.3rem;
	margin: unset;
	width: 7rem;
}

.inline-text-button {
	all: unset;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.inline-text-button .submit {
	background:
}

.tag-unlink {
  font-weight: bold;
  color: maroon;
  opacity: 0.5;
  cursor: pointer;
}

/* Notes */
.note-list-title {
  font-weight: bold;
}

.note-list > li {
  width: fit-content;
  background-color: antiquewhite;
  padding-inline: 5px;
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  margin-block: 5px;
}

.note-list > li.flagged {
  background-color: lightpink;
}

.note-stamp {
  font-style: italic;
}

.note-actions > span {
  font-weight: bold;
  color: maroon;
  opacity: 0.5;
  cursor: pointer;
}

.note-edit-form > textarea {
	background: white;
}
