.tag-list {
  list-style: none;
	padding: 0;
	margin: 0;
  display: inline-flex;
}

/*TODO: make this wrap into multiple rows*/
.tag-list-container {
	display: flex;
	align-items: baseline;
}


.tag-list > li {
  background-color: thistle;
  width: fit-content;
	padding-inline: 0.3rem;
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  margin: 5px;
}

.link-tag-trigger {
	/*color: darkseagreen;*/
	/*font-weight: bold;*/
	font-style: italic;
	cursor: pointer;
}

.link-tag-form > [name=label] {
	display: inline;
	padding: unset;
	padding-inline: 0.3rem;
	margin: unset;
	width: 7rem;
	background: white;
}

.inline-text-button {
	all: unset;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.tag-unlink {
  font-weight: bold;
  color: maroon;
  opacity: 0.5;
  cursor: pointer;
}
