{% extends "layout.html" %}
{% block title %}Search Recipes{% endblock %}
{% block body %}

<div>
	<form action="{{ url_for('search') }}" method="GET">
		<div id="title">
			{{form.title_fragments.label() }}:
			<br />
			{{ form.title_fragments(size=40) }}
			{{ render_errors(form.title_fragments) }}
		</div>
		<div id="time">
			{{form.max_total_time.label() }}:
			<br />
			{{ form.max_total_time }}
			{{ render_errors(form.max_total_time) }}
			<br/>
			{{form.max_active_time.label() }}:
			<br />
			{{ form.max_active_time }}
			{{ render_errors(form.max_active_time) }}
		</div>
		<div id="labels">
			<!-- TODO: good boolean UI?? -->
			{{ form.included_labels.label() }}:
			<br />
			{{ form.included_labels(**{'data-placeholder': 'Find recipes tagged with...'}) }}
			{{ render_errors(form.included_labels) }}
			<br />
			{{ form.excluded_labels.label() }}:
			<br />
			{{ form.excluded_labels(**{'data-placeholder': 'And not tagged with...'}) }}
			{{ render_errors(form.excluded_labels) }}
		</div>
        <div id="rand">
            {{ form.randomize .label() }}:
            {{ form.randomize() }}
            {{ render_errors(form.randomize) }}
        </div>
		<input class="button button-primary" type="submit" value="Search">
	</form>
	<a class='button' href="{{ url_for('add_recipe') }}">New Recipe</a>
</div>
{% endblock %}

{% macro render_errors(field) %}
{% if field.errors %}
<ul class=errors>
	{% for error in field.errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endmacro %}
